*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: black;
    width: 100%;
    height: 100px;
    color: white;
    margin: 0 auto;
    padding: 42px;

}

.left{
    /* width: 100%; */
    /* height: 100px; */
    display: flex;
    flex-direction: row;
    gap: 30px;
    float: left;
}

.right{
    /* width: 100%; */
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    /* float: right; */
}